@charset "utf-8";

* {margin:0; padding:0;}
ul, ol, li{list-style-type:none}
a {color:inherit;text-decoration:none;}
button {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  margin: 0;
  color:inherit;
  outline:0;
  border: none;
  cursor: pointer;
}

/*************************** section1 ***************************/
#section1{
  /* overflow: hidden; */
  position: relative;
  width: 100%;
}
#section1 .main_slide_1 .back {
  /* width: 100%; */
  background-image: url(../images/sec1_mainslide_01.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1920px;
  height: 768px;
}
#section1 .main_slide_2 .back {
  /* width: 100%; */
  background-image: url(../images/sec1_mainslide_02.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1920px;
  height: 768px;
}
#section1 .main_slide_3 .back {
  /* width: 100%; */
  background-image: url(../images/sec1_mainslide_03.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1920px;
  height: 768px;
}
